.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.5rem;
  color: #ffff;
  background-color: rgb(255, 47, 0);
  height: 100vh;

  img {
    height: 20rem;
  }

  button {
    width: 25%;
    padding: 0.5rem;

    a {
      text-decoration: none;
      color: black;
      font-weight: 500;
    }
  }
}
