.card {
  width: 15rem;
  border: 1px solid black;
  height: 20rem;
  overflow: hidden;
  position: relative;
  padding: 0.1rem;
  line-height: 1rem;
  img {
    width: 15rem;
  }

  .image-container {
    position: relative;
    .cardButton {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;

      &:hover {
        background-color: black;
        color: #ffff;
      }
    }
  }
}

.card-section-container {
  .zoomable-image {
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  margin-left: 0.5rem;
  .card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
