div {
	.updateStock {
		display: flex;
		flex-direction: column;
		width: 30%;
		padding: 1rem;
		margin: 1rem;
		input {
			padding: 0.2rem;
			width: 90%;
		}
		button {
			width: 50%;
			padding: 0.2rem;
			margin: 1rem;
		}
	}
	table {
		width: 80%;
		border-collapse: collapse;
	}

	th,
	td {
		border: 1px solid #000; /* Black border for cells */
		padding: 8px; /* Spacing inside cells */
		text-align: left; /* Align text to the left */
	}

	th {
		background-color: #f2f2f2; /* Light gray background for header */
	}

	tr:hover {
		background-color: #e0e0e0; /* Highlight row on hover */
	}
}
